
*{
    font-family: "axiforma-regular", -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;
}
  body{
    width:80%;
    margin: auto;
    
    /* margin-top: 25px; */
/* ======= */
    margin-top: 20px;
}

#woma_navbar {
    display: flex;
   justify-content: space-around;
    
    margin: auto;
    font:14px os_semi_bold
    
}
.woma_nav11{
    margin-left: -550px;
    /* font-weight: bold; */
    margin-top: -10px;
    font:14px os_semi_bold
    
}
#woma_nav1{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
}
#woma_navbar > img {
    width:4%;
    height:50px;
    margin-left: -300px;
}
#woma_video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding:30px;
    font:36px_os_bold;
}
#woma_2nd {
    display: flex;
    gap:20px;
    margin-left: 30px;
}
.womapic {
    width:90%;
    font:12px_os_regular;
    color:#0F0F0F;
    

}
.womah {
    width:30%;
    margin-left: -10px;
}
.womah2 {

    width: 99%;
    /* margin-left: -20px; */
}
.womadiv {
    
    /* width:150%;
    margin: 60px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    margin-left: 50px;
    background:#FFFFFF;

}
.womadiv1 {
    display:flex;
    justify-content: space-around;
    margin-left: 50px;
    /* background:#FFFFFF; */
    gap:200px;
}
.he {

    Color:#0F0F0F;
    Font:28px os_bold;
}
.his {
    color:#545454;
    font:12px os_regular;
}
.phe {
  Color:#0F0F0F;
  Font:24px os_bold;

}
#woma_mid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    line-height: 22px;
    font-size: large;
}
#container1{
    /* margin-right:50px; */
width:30%;
/* margin-right: 400px;
border-right: 1px solid gray; */

}

.btn1 {

    Background:#FFFFFF;
    height:25px;
    color:#6E42E5;
    border:0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;



    
}
.cashback{
    /* border: 1px solid yellow; */
    width:700px;
    margin-left: 300px;
    border-left: 1px solid gray;
    padding-left: 100px;
    
   

}
.cashback>.mini_cashback{
width: 60%;
height: 500px;
/* border: 1px solid tomato; */
margin:40px 0px 0px 30px;
/* overflow: scroll;
position: -webkit-sticky; */
  /* position: sticky; */
  top: 0;
}
.cashback>.mini_cashback>div{
    margin-top: 35px;
    height: auto;
    background-color: rgb(248, 245, 245);
}
.flex_p{
    /* border: 1px solid blue; */
    display: flex;
    gap: 5px;
    font-weight: 300;
    font-size: 18px;
}
.flex_p>.fa-circle-plus{
   font-size: 15px;
   color: blue;
   padding: 0px 8px 0px 8px;
}
div>p{
    margin-left: 35px;
    margin-top: 5px;
    color: rgb(84, 78, 78);
    font-size: 15px;
}
.vertical {
    border-left: 1px solid black;
    height: 2200px;
    position:absolute;
    left: 50%;
}

.wicket {
    color: #0699A3;
    font:12px os_semi_bold;
}

#wobt {
    margin-left: 10px;
    margin-top: 5px;
    background:#6E42E5;
    padding:7px 8px;
    color:#FFFFFF;
    font:14px os_semi_bold;
}
.womasree {
    margin-top: 1200px;
    background: #07794c;
    padding:8px 16px;
    width:60%;

}

#total_amt {
    display: flex;
    gap:20px;
    /* margin-top: 800px; */
    /* position: static; */
    margin-right: 170px;
    margin-top: 190px;
}
#btt {
    Color:#FFFFFF;
    width: 70%;
    Font: 14px os_semi_bold;
    Background:#6E42E5;
    Padding: 14px 16px;
    border:0px;
    border-radius: 5px;
   margin-top: -50px;
   font-size: 20px;
   height: 50px;
}
#best {
    padding-left: 45px;
}
#total_price{
    font-size: 20px;
    margin-top: -35px;
}

#uc_footer{
    /* border: 1px solid red; */
    padding: 20px;
    /* display: flex; */
    margin-left: 11%;
    width: 95%;
    background-color:#F5F5F5;
    color: #545454;
  }
  #uc_link_footer{
    display: flex;
    gap: 130px;
  }
  #uc_link_footer>div>a{
    text-decoration: none;
    color: #545454;
    font-family: os_regular;
    font-size: 14px;
    line-height:24px;
    cursor: pointer;
    
  }
  #uc_link_footer>div>h2{
    color: #0F0F0F;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #uclogo_face{
    /* display: flex; */
    width: 10%;
  }
  
  #uclogo_face div{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    gap: 20px;
  }
  #uclogo_face div{
    display: flex;
  }
  #uc_button_view_cart{
    background-color: none;
  }
   #myfooter {
    margin-left: -100px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 100px;
  } 